html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.human {
    transition: linear 0.4s;
}

.elevator-cont {
    right: 0;
    bottom: 0;
    transition: ease-in-out 0.4s;
}

.target-floor {
    left: 65%;
}

.target-at-1-floor {
    bottom: 3.5rem;
}

.target-at-2-floor {
    bottom: 9.5rem;
}

.target-at-3-floor {
    bottom: 15.5rem;
}


.human-at-1-floor {
    bottom: 0;
}

.human-at-2-floor {
    bottom: 33%;
}

.human-at-3-floor {
    bottom: 66%;
}

.elevator-at-1-floor {
    bottom: 0;
}

.elevator-at-2-floor {
    bottom: 33%;
}

.elevator-at-3-floor {
    bottom: 66.6%;
}

.human-near-elevator {
    left: 50%;
}

.human-in-elevator {
    right: 0;
    z-index: -1;
}

/*.human {*/
/*    transform: translateX(350%);*/
/*}*/