html,
body {
    padding: 0;
    margin: 0;
}
#button-to-1-floor,
#button-to-2-floor,
#button-to-3-floor {
    transition: ease-in-out 0.2s;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
    rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}


#button-to-1-floor:hover,
#button-to-2-floor:hover,
#button-to-3-floor:hover {
    cursor: pointer;
    background: rgb(229,231,235);
    background: radial-gradient(circle, rgba(243,244,246,1) 0%, rgba(209,213,219,1) 100%);
}

* {
    box-sizing: border-box;
}


.game-cont {
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
    rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.elevator-cont {
    right: 0;
    bottom: 0;
    transition: ease-in-out 1s;
}


.elevator-left-door,
.elevator-right-door  {
    background-color: #313236;

}

.target-floor {
    left: 65%;
}

.target-at-1-floor {
    bottom: 3.5rem;
}

.target-at-2-floor {
    bottom: 9.5rem;
}

.target-at-3-floor {
    bottom: 15.5rem;
}


.human-at-1-floor {
    bottom: 0;
}

.human-at-2-floor {
    bottom: 33%;
}

.human-at-3-floor {
    bottom: 66%;
}

.elevator-at-1-floor {
    bottom: 0;
}

.elevator-at-2-floor {
    bottom: 33.3%;
}

.elevator-at-3-floor {
    bottom: 66.6%;
}

.human-near-elevator {
    left: 50%;
}

.human-in-elevator {
    right: 0;
    z-index: -1;
}




.open-left-door-anim {
    background-color: #1f2123;
    animation: open-left-door 0.5s 1 forwards;
}

.open-right-door-anim {
    background-color: #1f2123;
    animation: open-right-door 0.5s 1 forwards;

}


.close-left-door-anim {
    background-color: #1f2123;
    animation: close-left-door 0.5s 1 forwards;
}

.close-right-door-anim {
    background-color: #1f2123;
    animation: close-right-door 0.5s 1 forwards;

}

/*     ANIMATIONS    */

/*      OPENING DOORS    */

@keyframes open-left-door {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}



@keyframes open-right-door {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }

}


/*      CLOSING DOORS    */

@keyframes close-left-door {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}


@keyframes close-right-door {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }

}


